
<nav class="navbar sticky-top navbar-expand-lg navbar navbar-light mb-2" style="background-color:#42A5F5;">
    <!--  yukarıdaki bar-->
    <div class="container-fluid ">
        <a class="navbar-brand me-5 " href="index.html">TATLI SÖZLÜK</a>
        <button class="navbar-toggler  " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active me-2" aria-current="page" href="#"><button class="btn btn-light" type="submit">Spor</button></a>                           <!-- Spor sekmesi-->
                </li>

                <li class="nav-item">
                    <a class="nav-link active me-2" href="#"><button class="btn btn-light" type="submit">Siyaset</button></a>                                        <!--  Siyaset sekmesi-->
                </li>

                <li class="nav-item">
                    <a class="nav-link active me-2" href="#"><button class="btn btn-light" type="submit">Ekonomi</button></a>                                        <!--  EkonomiSekmesi-->
                </li>

                <li class="nav-item">
                    <a class="nav-link active me-2" href="#"><button class="btn btn-light" type="submit">Magazin</button></a>                                        <!--  Magazin Sekmesi-->
                </li>

                <li class="nav-item">
                    <a class="nav-link active me-2" href="#"><button class="btn btn-light" type="submit">Teknoloji</button></a>                                      <!--  Teknoloji Sekmesi -->
                </li>

                <li class="nav-item">
                    <a class="nav-link active me-2" href="#"><button class="btn btn-light" type="submit">Sağlık</button></a>                                         <!--  Sağlık Sekmesi-->
                </li>

                <li class="nav-item">
                    <a class="nav-link active me-2" href="#"><button class="btn btn-light" type="submit">Yaşam</button></a>                                         <!--  Yaşam Sekmesi -->
                </li>


            </ul>

            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Gündem Ara" aria-label="Search">
                <button class="btn btn-success me-5" type="submit">Ara</button>                                     <!--   arama butonui-->
            </form>

            <a href="Giris_Yap.html"> <button class="btn btn-warning me-2" type="submit">Giriş</button>  </a>   <!--  Giriş butonui -->

            <a href="Kayit_Ol.html"> <button class="btn btn-warning me-2" type="submit">Kayıt</button>  </a>    <!--  Kayıt butonui -->


        </div>
    </div>
</nav>
