<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>TATLI SÖZLÜK</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
